$black: rgb(30, 30, 30);
$light-black: #5f5f5f;
$red: rgba(255,91,91,1);
$pink: #c252e1;
$purple: #7D59C7;
$blue-light: #6ecbf5;
$blue: #00a3ff;
$green: #00c735;

$subtle-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$card-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
$smooth-shadow-1: 2.8px 1.3px 2.2px rgba(0, 0, 0, 0.02),
                6.7px 3.1px 5.3px rgba(0, 0, 0, 0.028),
                12.5px 5.8px 10px rgba(0, 0, 0, 0.035),
                22.3px 10.3px 17.9px rgba(0, 0, 0, 0.042),
                41.8px 19.2px 33.4px rgba(0, 0, 0, 0.05),
                100px 46px 80px rgba(0, 0, 0, 0.07); //https://shadows.brumm.af/
$smooth-shadow-2:
                1.6px 1.3px 2.2px rgba(0, 0, 0, 0.014),
                3.8px 3.2px 5.3px rgba(0, 0, 0, 0.02),
                7.1px 6px 10px rgba(0, 0, 0, 0.025),
                12.7px 10.7px 17.9px rgba(0, 0, 0, 0.03),
                23.8px 20.1px 33.4px rgba(0, 0, 0, 0.036),
                57px 48px 80px rgba(0, 0, 0, 0.05);
$smooth-shadow-3:
                0.8px 0.7px 0.6px rgba(0, 0, 0, 0.028),
                1.8px 1.5px 1.3px rgba(0, 0, 0, 0.041),
                3.3px 2.7px 2.4px rgba(0, 0, 0, 0.051),
                5.6px 4.6px 4px rgba(0, 0, 0, 0.059),
                9.4px 7.8px 6.6px rgba(0, 0, 0, 0.069),
                17px 14.1px 11.6px rgba(0, 0, 0, 0.082),
                35px 29px 25px rgba(0, 0, 0, 0.11);

$max-width: 2000px;

.blueText { color: $blue}
.greenText { color: $green; }
.purpleText { color: $purple; }

.underline { text-decoration: underline; cursor: pointer;}

$merriweather: 'Merriweather', serif;
$opensans: 'Open Sans', sans-serif;
$poppins: 'Poppins', sans-serif;
$pixel: 'Silkscreen', cursive;

$breakpoint: 700px;

#contactContainer {
    // background-color: #00a3ff;
    color: $black;
    position: relative;
    width: 100%;
    font-family: $poppins;
    // width: 100%;
    // height: 100vh;
    margin-top: -5px;
    // background-image: url("https://d1fdloi71mui9q.cloudfront.net/Lcij02oqQYuCWfec5Jtj_angel_final.mp4");
    background-image: url('/bung3.jpg');
    // background-size: 50px;
    background-repeat:round;
    // background-image: url('https://img.freepik.com/free-photo/texture-background_1404-99.jpg?w=1800&t=st=1666491167~exp=1666491767~hmac=fd546b0402b762f440f5383c3c3eec98906188ffdf9ad45f28dc9ff81488cd29');
    // background-position: center center;
    // background-size: cover;
    // background-repeat: no-repeat;
    
    #flexBox {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        // background-color: $green;
        padding: 100px 0px 200px 0px;
        // margin-top: 100px;
        #textContainer {
            position: relative;
            margin: auto;
            overflow: hidden;
            z-index: 5;
            h1 {
                text-align: center;
                font-size: 48px;
                @media(max-width: $breakpoint) {
                    // max-width: 100vw;
                    // width: 100vw;
                    text-align: center;
                    // max-width: 50ch;
                    font-size: 24px;
                    
                }
                color: white;
                // background-color: #5f5f5f;
            }
            #email {
                display: grid;
                grid-template-columns: 100px 500px 200px;
                // grid-template-columns: 1fr 1fr 1fr;

                @media(max-width: $breakpoint) {
                    // grid-template-columns: 100px 400px 1fr;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    // align-items: center;
                    // border-radius: ;
                    margin: 10px;
                    padding: 10px;

                }
                gap: 10px;
                border-radius: 10px;
                border: solid 2px white;
                background-color: white;
                overflow: hidden;
                #linkIconGridItem {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: rgb(238, 238, 238);
                    padding: 20px;
                    // width: 50px;
                    svg {
                        transform: rotate(-45deg);
                        fill: $light-black;
                    }
                    @media(max-width: $breakpoint) {
                        display: none;
                    }
                }
                #linkTextGridItem {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    h2 {
                        margin: 0px;
                        font-weight: 400;
                        font-size: 24px;
                        @media(max-width: $breakpoint) {
                            // max-width: 100vw;
                            // width: 100vw;
                            text-align: center;
                            // max-width: 50ch;
                            font-size: 16px;
                            
                        }
                    }
                }
                #linkButtonGridItem {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 5px;
                    button {
                        border-radius: 10px;
                        width: 100%;
                        height: 100%;
                        font-family: $poppins;
                        border: none;
                        background-color: $blue;
                        font-size: 150%;
                        color: white;
                        box-shadow: $card-shadow;
                    }
                    .copy {
                        &:hover {
                            cursor: pointer;
                            transform: scale(105%);
                        }
                        &:active {
                            transform: scale(95%);
                        }
                    }
                    .copied {
                        background-color: white;
                        transform: scale(100%);
                    }
                }
            }
        }
    }

}
