$black: rgb(30, 30, 30);
$light-black: #5f5f5f;
$red: rgba(255,91,91,1);
$pink: #c252e1;
$purple: #7D59C7;
$blue-light: #6ecbf5;
$blue: #00a3ff;
$green: #00c735;

$subtle-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$card-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
$smooth-shadow-1: 2.8px 1.3px 2.2px rgba(0, 0, 0, 0.02), 6.7px 3.1px 5.3px rgba(0, 0, 0, 0.028), 12.5px 5.8px 10px rgba(0, 0, 0, 0.035), 22.3px 10.3px 17.9px rgba(0, 0, 0, 0.042), 41.8px 19.2px 33.4px rgba(0, 0, 0, 0.05), 100px 46px 80px rgba(0, 0, 0, 0.07); //https://shadows.brumm.af/
$smooth-shadow-2: 1.6px 1.3px 2.2px rgba(0, 0, 0, 0.014), 3.8px 3.2px 5.3px rgba(0, 0, 0, 0.02), 7.1px 6px 10px rgba(0, 0, 0, 0.025), 12.7px 10.7px 17.9px rgba(0, 0, 0, 0.03), 23.8px 20.1px 33.4px rgba(0, 0, 0, 0.036), 57px 48px 80px rgba(0, 0, 0, 0.05);
$smooth-shadow-3: 0.8px 0.7px 0.6px rgba(0, 0, 0, 0.028), 1.8px 1.5px 1.3px rgba(0, 0, 0, 0.041), 3.3px 2.7px 2.4px rgba(0, 0, 0, 0.051), 5.6px 4.6px 4px rgba(0, 0, 0, 0.059), 9.4px 7.8px 6.6px rgba(0, 0, 0, 0.069), 17px 14.1px 11.6px rgba(0, 0, 0, 0.082), 35px 29px 25px rgba(0, 0, 0, 0.11);

$subtle-text-shadow-1: 1px 1px 1px rgb(218, 218, 218);

$max-width: 1500px;

.blueText { color: $blue}
.greenText { color: $green; }
.purpleText { color: $purple; }

.underline { text-decoration: underline; cursor: pointer;}

$merriweather: 'Merriweather', serif;
$opensans: 'Open Sans', sans-serif;
$poppins: 'Poppins', sans-serif;
$pixel: 'Silkscreen', cursive;
$hand: 'Reenie Beanie', cursive;
$marker: 'Permanent Marker', cursive;



$breakpoint: 700px;

#navContainer {
    // background-color: #00B140;
    // width: 100%;
    max-width: 2000px;
    margin: auto;
    // position: relative;
    position: sticky;
    top: 0px;
    z-index: 999;

    
    ul {
        
        
        
        box-shadow: $card-shadow;
        list-style: none;
        flex-direction: column;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        // overflow: hidden;
        @media(min-width: 800px) {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                flex-direction: row;
            
            }
            @media(max-width: 400px) {
                grid-template-columns: 1fr 1fr;
            
            // overflow: hidden;
            
            }
        background-color: $black;
        padding: 0px;
        margin: 0px;
        // margin: 10px;
        // margin-top: 0px;
        // border-radius: 15px;




        // background-image: url('/bung2.png');
        // background-repeat: none;
        background-size: 500px;
        background-position: center;
        // background-repeat:round;
        
        // background-size: cover;
        // background-image: url('https://img.freepik.com/free-photo/wooden-plank-textured-background-material_53876-31378.jpg?w=1800&t=st=1666490936~exp=1666491536~hmac=64de3e8ae677e2511062d879af48d8d6122a2943ebb04d24dc2b407f7587f826');
        background-image: url('https://img.freepik.com/free-photo/texture-background_1404-99.jpg?w=1800&t=st=1666491167~exp=1666491767~hmac=fd546b0402b762f440f5383c3c3eec98906188ffdf9ad45f28dc9ff81488cd29');
        // background-image: url('https://media3.giphy.com/media/9S1mRS4YlwE08PdEWn/giphy.gif?cid=ecf05e47204934hhzxfe0ops9ial80z73khkodbyefmw8zgf&rid=giphy.gif&ct=g');
        // <a href="https://www.freepik.com/free-photo/texture-background_1167463.htm#query=seamless%20wood%20texture&position=3&from_view=keyword">Image by yingyang</a> on Freepik
        li {
            
            // background-size: 50px;
            // background-position: center;
            // background-image: url('https://media0.giphy.com/media/l2YOy09UFUZWu71Cw/giphy.gif?cid=ecf05e47a3nm8vejkix97jncrcyer84nx4k4zjc9bkq6tbua&rid=giphy.gif&ct=g');
            // font-family: $hand;
            font-family: $marker;
            letter-spacing: 2px;
            // font-weight: 800;
            // font-family: $pixel;
            // font-family: $poppins;
            font-size: 24px;
            // font-size: 40px;
            
            
            background-color: rgba(255, 255, 255, 0.954);
            // color: white;
            color: $black;
            padding: 10px;
            margin: 10px;
            transition: transform .1s;
            // box-shadow: $card-shadow;
            border-radius: 2px;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
            @media(max-width: 400px) {
                letter-spacing: 0px;
                font-family: $hand;
                font-size: 30px;
                padding: 5px;
                margin: 5px;
            }
            display: flex;
            // font-family: 'Courier New', Courier, monospace;
            justify-content: center;
            align-items: center;
            
            a {
                text-shadow:$subtle-text-shadow-1;
                // text-align: center;
                // -webkit-text-stroke: .2px rgb(0, 0, 0);
            }
            &:hover {
                transform: scale(105%);
                cursor: pointer;
            }

        }
        #music {
            transform: rotate(-2deg);
            &:hover {
                transform: scale(105%) rotate(-2deg);
            }
        }
        #merch {
            transform: rotate(1deg);
            &:hover {
                transform: scale(105%) rotate(2deg);
            }
        }
        #about {
            transform: rotate(-4deg);
            &:hover {
                transform: scale(105%) rotate(-4deg);
            }
        }
        #contact {
            transform: rotate(3deg);
            &:hover {
                transform: scale(105%) rotate(3deg);
            }
        }
    }
    
    
}